# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# VSCode
.vscode/


# Mini Challenges
# Automation & Integration

# Credentials
data-dev-mini-challenges/automation-and-integration/python/credentials/email.py
data-dev-mini-challenges/automation-and-integration/python/credentials/tableau.py

# Data
data-dev-mini-challenges/automation-and-integration/data/workbook_owners.csv